/**
Full Down
**/
@include media-query($full-down) {

}
/**
Sidebar
**/
@include media-query($sidebar-down) {
	#landing .aieedalogo{
		padding: 20% 0;
	}
	h2{
    font-size: 1.3em;
  }
	p, ul{
	  font-size: 0.8em;
	}
	footer ul {
		min-width:0px;
		font-size: 0.8em;
			li:nth-child(2n+1){
				clear:both;
				}
			li:first-child::before{
					display:block;
				}
		}

}

/**
Tablet Down
**/
@include media-query($tablet-down) {

}
/**
Smartphone Down
**/
@include media-query($mobile-down) {

}
/**
Too Small
**/
@include media-query($too-small) {


}
